body{
    font-family: 'Luckiest Guy', cursive;
    color: darkblue;
    background-image: url("../img/burger.jpg");
}

.header {
    border-bottom-width: 6px;
    border-bottom-style: solid;
    border-bottom-color: #4aaaa5;
}

.rcorners {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
}